.DS_Store
/build/
/.gradle/
/devlibs/
/generated/
/tmp/
*.so
*.dll
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
/.idea/
*.iml
*.ipr
*.iws
/.vscode/
/run/
*.log
run/logs/
/node_modules/
/build/tmp/
/build/loom-cache/
.cache/
bin/
compiled/
#.gz
#.log
compile_commands.json
/metalrender.plist
*.air
*.metallib
*.dylib
!src/main/resources/libmetalrender.dylib
!src/main/resources/native/macos-arm64/libmetalrender.dylib
/work files/
*.txt
*.out
/extracted_sources/
